.container-conv {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 30px;
}

.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.property-header {
  margin-top: 80px;
  text-align: center;
  margin-bottom: 2rem;
}

.col {
  flex: 1;
  padding: 20px;
  text-align: center;
}

.col img {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }
  .col {
    flex-basis: 100%;
  }
  .col img {
    max-width: 100%;
    height: auto;
  }
}
