.container-exp {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
  padding: 30px;
}

.item {
  flex: 0 0 50%;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

.item img {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}
.head-exp {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  margin-top: 60px;
}

@media (max-width: 768px) {
  .container-exp {
    flex-direction: column;
  }
  .item {
    flex-basis: 100%;
  }
  .item img {
    max-width: 100%;
    height: auto;
  }
  .head-exp {
    margin-top: 50px;
    font-size: 24px;
  }
}
